label.genai-radio-label {
  display: flex;
  align-items: center;
  transition: var(--button-transition);
  cursor: pointer;
  box-shadow: var(--checkbox-label-shadow);
  border: var(--checkbox-label-border-width) solid
    var(--checkbox-label-border-color);
  border-radius: var(--button-small-radius);
  background: var(--checkbox-label-background-fill);
  padding: var(--checkbox-label-padding);
  color: var(--checkbox-label-text-color);
  font-weight: var(--checkbox-label-text-weight);
  font-size: var(--checkbox-label-text-size);
  line-height: var(--line-md);
  width: fit-content;

  --block-radius: 0px;
  --block-border-width: 0px;
  --layout-gap: 1px;
  --form-gap-width: 1px;
  --button-border-width: 0px;
  --button-large-radius: 0px;
  --button-small-radius: 0px;
}

label.genai-radio-label > span {
  margin-left: var(--size-2);
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

label.genai-radio-label > input {
  --ring-color: transparent;
  position: relative;
  box-shadow: var(--checkbox-shadow);
  border: var(--checkbox-border-width) solid var(--checkbox-border-color);
  border-radius: var(--radius-full);
  background-color: var(--checkbox-background-color);
  line-height: var(--line-sm);
  margin: 0;

  display: inline-block;
  flex-shrink: 0;
  vertical-align: middle;
  appearance: none;
  background-origin: border-box;
  padding: 0;
  width: 1rem;
  height: 1rem;
  color: #2563eb;
  user-select: none;
}

label.genai-radio-label > input:hover {
  border-color: var(--checkbox-border-color-hover);
  background-color: var(--checkbox-background-color-hover);
}

label.genai-radio-label.selected {
  background: var(--checkbox-label-background-fill-selected);
  color: var(--checkbox-label-text-color-selected);
}

label.genai-radio-label.selected > input:checked {
  border-color: var(--checkbox-border-color-selected);
  background-image: var(--radio-circle);
  background-color: var(--checkbox-background-color-selected);
}

.genai-radio-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--checkbox-label-gap);
}

.genai-radio-group {
  padding: var(--block-padding);
}
