:root {
  --scale-0: 1rem;
  --scale-1: 1.125rem;
  --scale-2: 1.25rem;
  --scale-3: 1.5rem;
  --scale-4: 1.875rem;
  --scale-5: 2.25rem;
  --scale-6: 3rem;
  --scale-7: 3.75rem;
  --scale-8: 4.5rem;
  --scale-9: 6rem;
  --scale-10: 8rem;
  --scale-000: 0.75rem;
  --scale-00: 0.875rem;
  --scale-fluid-0: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
  --scale-fluid-1: clamp(1rem, 0.925rem + 0.25vw, 1.125rem);
  --scale-fluid-2: clamp(1.125rem, 1.05rem + 0.25vw, 1.25rem);
  --scale-fluid-3: clamp(1.8125rem, 2rem + -0.625vw, 1.5rem);
  --scale-fluid-4: clamp(1.5rem, 1.275rem + 0.75vw, 1.875rem);
  --scale-fluid-5: clamp(1.875rem, 1.65rem + 0.75vw, 2.25rem);
  --scale-fluid-6: clamp(2.25rem, 1.8rem + 1.5vw, 3rem);
  --scale-fluid-7: clamp(3rem, 2.55rem + 1.5vw, 3.75rem);
  --scale-fluid-8: clamp(3.75rem, 3.3rem + 1.5vw, 4.5rem);
  --scale-fluid-9: clamp(4.5rem, 3.6rem + 3vw, 6rem);
  --scale-fluid-10: clamp(6rem, 4.8rem + 4vw, 8rem);
  --scale-fluid-000: clamp(0.625rem, 0.55rem + 0.25vw, 0.75rem);
  --scale-fluid-00: clamp(0.75rem, 0.675rem + 0.25vw, 0.875rem);
  --font-sans: Source Sans Pro, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: IBM Plex Mono, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;
  --weight-black: 900;
  --line-none: 1;
  --line-xs: 1.125;
  --line-sm: 1.4;
  --line-md: 1.5;
  --line-lg: 1.625;
  --line-xl: 2;
  --letter-xs: -0.05em;
  --letter-sm: -0.025em;
  --letter-none: 0em;
  --letter-lg: 0.025em;
  --letter-xl: 0.05em;
  --prose-xs: 45ch;
  --prose-sm: 55ch;
  --prose-md: 65ch;
  --prose-lg: 75ch;
  --prose-xl: 85ch;
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 20px;
  --size-6: 24px;
  --size-7: 28px;
  --size-8: 32px;
  --size-9: 36px;
  --size-10: 40px;
  --size-11: 44px;
  --size-12: 48px;
  --size-14: 56px;
  --size-16: 64px;
  --size-20: 80px;
  --size-24: 96px;
  --size-28: 112px;
  --size-32: 128px;
  --size-36: 144px;
  --size-40: 160px;
  --size-44: 176px;
  --size-48: 192px;
  --size-52: 208px;
  --size-56: 224px;
  --size-60: 240px;
  --size-64: 256px;
  --size-72: 288px;
  --size-80: 320px;
  --size-96: 384px;
  --size-px: 1px;
  --size-full: 100%;
  --size-screen: 100vw;
  --size-min: min-content;
  --size-max: max-content;
  --size-0-5: 2px;
  --size-1-5: 6px;
  --size-2-5: 10px;
  --size-screen-h: 100vh;
  --width-xs: 480px;
  --width-sm: 640px;
  --width-md: 768px;
  --width-lg: 1024px;
  --width-xl: 1280px;
  --ratio-square: 1/1;
  --ratio-portrait: 3/4;
  --ratio-landscape: 4/3;
  --ratio-tall: 2/3;
  --ratio-wide: 3/2;
  --ratio-widescreen: 16/9;
  --ratio-golden: 1.618/1;
  --radius-100: 100%;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-full: 9999px;
  --radius-2xl: 16px;
  --radius-3xl: 22px;
  --blur-xs: blur(4px);
  --blur-sm: blur(8px);
  --blur-md: blur(16px);
  --blur-lg: blur(24px);
  --blur-xl: blur(40px);
  --layer-1: 10;
  --layer-2: 20;
  --layer-3: 30;
  --layer-4: 40;
  --layer-5: 50;
  --layer-below: -1;
  --layer-top: 2147483647;
  --shadow-xs: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-sm: 0 4px 6px -2px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.06);
  --shadow-md: 0 12px 16px -4px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-lg: 0 20px 24px -4px rgba(0, 0, 0, 0.1),
    0 8px 8px -4px rgba(0, 0, 0, 0.04);
  --shadow-xl: 0 24px 48px -12px rgba(0, 0, 0, 0.25);
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --elevation-1: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --elevation-2: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --elevation-3: 0 4px 6px -2px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.06);
  --elevation-4: 0 12px 16px -4px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --elevation-5: 0 20px 24px -4px rgba(0, 0, 0, 0.1),
    0 8px 8px -4px rgba(0, 0, 0, 0.04);
  --elevation-6: 0 24px 48px -12px rgba(0, 0, 0, 0.25);
  --elevation-7: 0 32px 64px -12px rgba(0, 0, 0, 0.2);
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;
  --color-black: #14141b;
  --color-grey: #6b7280;
  --color-red-300: #fca5a5;
  --color-red-500: #ef4444;
  --color-red-700: #b91c1c;
  --color-red: #ef4444;
  --color-green-300: #86efac;
  --color-green-500: #22c55e;
  --color-green-700: #15803d;
  --color-green: #22c55e;
  --color-blue-300: #93c5fd;
  --color-blue-500: #0ea5e9;
  --color-blue-700: #1d4ed8;
  --color-blue: #0ea5e9;
  --color-pink-300: #fbb6ce;
  --color-pink-500: #ed64a6;
  --color-pink-700: #d53f8c;
  --color-pink: var(--color-pink-500);
  --color-purple-300: #b794f4;
  --color-purple-500: #805ad5;
  --color-purple-700: #6b46c1;
  --color-purple: var(--color-purple-500);
  --color-teal-300: #81e6d9;
  --color-teal-500: #38b2ac;
  --color-teal-700: #2c7a7b;
  --color-teal: var(--color-teal-500);
  --color-yellow-300: #fde047;
  --color-yellow-500: #eab308;
  --color-yellow-700: #a16207;
  --color-yellow: #eab308;
  --color-orange-300: #ffb066;
  --color-orange-500: #ff7c00;
  --color-orange-700: #ce6400;
  --color-orange: #f97316;
  --color-brown-300: #a1887f;
  --color-brown-500: #795548;
  --color-brown-700: #5d4037;
  --color-brown: var(--color-brown-500);
  --color-blue-10: #fafcff;
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-400: #60a5fa;
  --color-blue-600: #2563eb;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #1c366b;
  --color-grey-10: #fdfdfe;
  --color-grey-950: #0b0f19;
  --color-red-10: #fffbfb;
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-400: #f87171;
  --color-red-600: #dc2626;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #63171a;
  --color-green-10: #f9fefc;
  --color-green-50: #ecfdf5;
  --color-green-100: #d1fae5;
  --color-green-200: #bbf7d0;
  --color-green-400: #4ade80;
  --color-green-600: #16a34a;
  --color-green-800: #166534;
  --color-green-900: #14532d;
  --color-green-950: #134227;
  --color-orange-10: #fffbf6;
  --color-orange-50: #fff2e5;
  --color-orange-100: #ffe5cc;
  --color-orange-200: #ffd8b4;
  --color-orange-400: #ff9633;
  --color-orange-600: #ee7400;
  --color-orange-800: #a45000;
  --color-orange-900: #5c2d00;
  --color-orange-950: #3c1f00;
  --color-yellow-10: #fffef8;
  --color-yellow-50: #fffbeb;
  --color-yellow-100: #fff9c2;
  --color-yellow-200: #fef08a;
  --color-yellow-400: #facc15;
  --color-yellow-600: #ca8a04;
  --color-yellow-800: #854d0e;
  --color-yellow-900: #713f12;
  --color-yellow-950: #633112;
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));
  --grid-page-width: var(--width-xl);
  --grid-page-gutter: 5vw;
  --grid-page-main: 2 / 3;
  --grid-page: minmax(var(--grid-page-gutter), 1fr)
    minmax(0, var(--grid-page-width)) minmax(var(--grid-page-gutter), 1fr);

  --name: NoCrypt/miku;
  --background-fill-primary: #ffffff;
  --background-fill-secondary: #dce3e8;
  --block-background-fill: #ecf2f7;
  --block-border-color: #dce3e8;
  --block-border-width: 1px;
  --block-info-text-color: #191919;
  --block-info-text-size: var(--text-sm);
  --block-info-text-weight: 400;
  --block-label-background-fill: #ecf2f700;
  --block-label-border-color: #dce3e8;
  --block-label-border-width: 1px;
  --block-label-margin: 0;
  --block-label-padding: var(--spacing-sm) var(--spacing-lg);
  --block-label-radius: calc(var(--radius-lg) - 1px) 0
    calc(var(--radius-lg) - 1px) 0;
  --block-label-right-radius: 0 calc(var(--radius-lg) - 1px) 0
    calc(var(--radius-lg) - 1px);
  --block-label-shadow: var(--block-shadow);
  --block-label-text-color: #4eacef;
  --block-label-text-size: var(--text-sm);
  --block-label-text-weight: 400;
  --block-padding: var(--spacing-xl) calc(var(--spacing-xl) + 2px);
  --block-radius: var(--radius-lg);
  --block-shadow: #ffffff00;
  --block-title-background-fill: #ecf2f700;
  --block-title-border-color: #dce3e8;
  --block-title-border-width: 0px;
  --block-title-padding: 0;
  --block-title-radius: none;
  --block-title-text-color: #4eacef;
  --block-title-text-size: var(--text-md);
  --block-title-text-weight: bold;
  --body-background-fill: #ffffff no-repeat right bottom / auto 30svh
    padding-box fixed;
  --body-text-color: #191919;
  --body-text-color-subdued: #636668;
  --body-text-size: var(--text-md);
  --body-text-weight: 400;
  --border-color-accent: #dce3e8;
  --border-color-accent-subdued: #dce3e867;
  --border-color-primary: #dce3e8;
  --button-border-width: var(--input-border-width);
  --button-cancel-background-fill: #dce3e8;
  --button-cancel-background-fill-hover: #d0d7db;
  --button-cancel-border-color: #191919;
  --button-cancel-border-color-hover: #202020;
  --button-cancel-text-color: #4eacef;
  --button-cancel-text-color-hover: #0c6ebd;
  --button-large-padding: var(--spacing-lg) calc(2 * var(--spacing-lg));
  --button-large-radius: var(--radius-lg);
  --button-large-text-size: var(--text-lg);
  --button-large-text-weight: 600;
  --button-primary-background-fill: #4eacef;
  --button-primary-background-fill-hover: #0c6ebd;
  --button-primary-border-color: #191919;
  --button-primary-border-color-hover: #202020;
  --button-primary-text-color: #ecf2f7;
  --button-primary-text-color-hover: #e1eaf0;
  --button-secondary-background-fill: #dce3e8;
  --button-secondary-background-fill-hover: #d0d7db;
  --button-secondary-border-color: #dce3e8;
  --button-secondary-border-color-hover: #d0d7db;
  --button-secondary-text-color: #4eacef;
  --button-secondary-text-color-hover: #0c6ebd;
  --button-shadow: none;
  --button-shadow-active: none;
  --button-shadow-hover: none;
  --button-small-padding: var(--spacing-sm) calc(2 * var(--spacing-sm));
  --button-small-radius: var(--radius-lg);
  --button-small-text-size: var(--text-md);
  --button-small-text-weight: 400;
  --button-transition: background-color 0.2s ease;
  --chatbot-code-background-color: #ffffff;
  --checkbox-background-color: #dce3e8;
  --checkbox-background-color-focus: #dce3e8;
  --checkbox-background-color-hover: #dce3e8;
  --checkbox-background-color-selected: #4eacef;
  --checkbox-border-color: #dce3e8;
  --checkbox-border-color-focus: #4eacef;
  --checkbox-border-color-hover: #4eacef;
  --checkbox-border-color-selected: #4eacef;
  --checkbox-border-radius: var(--radius-sm);
  --checkbox-border-width: 1px;
  --checkbox-check: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  --checkbox-label-background-fill: #ecf2f7;
  --checkbox-label-background-fill-hover: #dce3e8;
  --checkbox-label-background-fill-selected: #dce3e8;
  --checkbox-label-border-color: #dce3e8;
  --checkbox-label-border-color-hover: #4eacef;
  --checkbox-label-border-width: 1px;
  --checkbox-label-gap: var(--spacing-lg);
  --checkbox-label-padding: var(--spacing-md) calc(2 * var(--spacing-md));
  --checkbox-label-shadow: none;
  --checkbox-label-text-color: #191919;
  --checkbox-label-text-color-selected: #4eacef;
  --checkbox-label-text-size: var(--text-md);
  --checkbox-label-text-weight: 400;
  --checkbox-shadow: var(--input-shadow);
  --color-accent: var(--primary-500);
  --color-accent-soft: #dce3e8;
  --container-radius: var(--radius-lg);
  --embed-radius: var(--radius-lg);
  --error-background-fill: #dce3e8;
  --error-border-color: #191919;
  --error-border-width: 1px;
  --error-icon-color: #b91c1c;
  --error-text-color: #4eacef;
  --font: 'Asap', 'ui-sans-serif', sans-serif;
  --font-mono: 'Fira Code', 'ui-monospace', monospace;
  --form-gap-width: 0px;
  --input-background-fill: #dce3e8;
  --input-background-fill-focus: #dce3e8;
  --input-background-fill-hover: #d0d7db;
  --input-border-color: #191919;
  --input-border-color-focus: #191919;
  --input-border-color-hover: #202020;
  --input-border-width: 0px;
  --input-padding: var(--spacing-xl);
  --input-placeholder-color: #19191930;
  --input-radius: var(--radius-lg);
  --input-shadow: #19191900;
  --input-shadow-focus: #19191900;
  --input-text-size: var(--text-md);
  --input-text-weight: 400;
  --layout-gap: var(--spacing-xxl);
  --link-text-color: #4eacef;
  --link-text-color-active: #4eacef;
  --link-text-color-hover: #0c6ebd;
  --link-text-color-visited: #4eacef;
  --loader-color: #4eacef;
  --neutral-100: #e2effc;
  --neutral-200: #bedff9;
  --neutral-300: #84c5f5;
  --neutral-400: #4eacef;
  --neutral-50: #f1f8fe;
  --neutral-500: #198cde;
  --neutral-600: #0c6ebd;
  --neutral-700: #0b5899;
  --neutral-800: #0e4b7e;
  --neutral-900: #113f69;
  --neutral-950: #0b2846;
  --panel-background-fill: #ecf2f7;
  --panel-border-color: #4eacef;
  --panel-border-width: 0;
  --primary-100: #e2effc;
  --primary-200: #bedff9;
  --primary-300: #84c5f5;
  --primary-400: #4eacef;
  --primary-50: #f1f8fe;
  --primary-500: #198cde;
  --primary-600: #0c6ebd;
  --primary-700: #0b5899;
  --primary-800: #0e4b7e;
  --primary-900: #113f69;
  --primary-950: #0b2846;
  --prose-header-text-weight: 600;
  --prose-text-size: var(--text-md);
  --prose-text-weight: 400;
  --radio-circle: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --radius-xxl: 22px;
  --radius-xxs: 1px;
  --secondary-100: #e2effc;
  --secondary-200: #bedff9;
  --secondary-300: #84c5f5;
  --secondary-400: #4eacef;
  --secondary-50: #f1f8fe;
  --secondary-500: #198cde;
  --secondary-600: #0c6ebd;
  --secondary-700: #0b5899;
  --secondary-800: #0e4b7e;
  --secondary-900: #113f69;
  --secondary-950: #0b2846;
  --section-header-text-size: var(--text-md);
  --section-header-text-weight: 400;
  --shadow-drop: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  --shadow-drop-lg: 0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-inset: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px inset;
  --shadow-spread: #ffffff;
  --slider-color: #4eacef;
  --spacing-lg: 8px;
  --spacing-md: 6px;
  --spacing-sm: 4px;
  --spacing-xl: 10px;
  --spacing-xs: 2px;
  --spacing-xxl: 16px;
  --spacing-xxs: 1px;
  --stat-background-fill: #4eacef;
  --table-border-color: #191919;
  --table-even-background-fill: #ecf2f7;
  --table-odd-background-fill: #dce3e8;
  --table-radius: var(--radius-lg);
  --table-row-focus: #191919;
  --text-lg: 16px;
  --text-md: 14px;
  --text-sm: 12px;
  --text-xl: 22px;
  --text-xs: 10px;
  --text-xxl: 26px;
  --text-xxs: 9px;
  --code-background-fill: var(--neutral-100);
}
.dark {
  --background-fill-primary: #000000;
  --background-fill-secondary: #242424;
  --block-background-fill: #191919;
  --block-border-color: #242424;
  --block-info-text-color: #ecf2f7;
  --block-label-background-fill: #19191900;
  --block-label-border-color: #242424;
  --block-label-text-color: #4eacef;
  --block-shadow: #00000000;
  --block-title-background-fill: #19191900;
  --block-title-border-color: #242424;
  --block-title-text-color: #4eacef;
  --body-background-fill: #000000 no-repeat right bottom / auto 30svh
    padding-box fixed;
  --body-text-color: #ecf2f7;
  --body-text-color-subdued: #c4c4c4;
  --border-color-accent: #242424;
  --border-color-accent-subdued: #24242467;
  --border-color-primary: #242424;
  --button-border-width: var(--input-border-width);
  --button-cancel-background-fill: #242424;
  --button-cancel-background-fill-hover: #202020;
  --button-cancel-border-color: #ecf2f7;
  --button-cancel-border-color-hover: #a1c3d8;
  --button-cancel-text-color: #4eacef;
  --button-cancel-text-color-hover: #0c6ebd;
  --button-primary-background-fill: #4eacef;
  --button-primary-background-fill-hover: #0c6ebd;
  --button-primary-border-color: #ecf2f7;
  --button-primary-border-color-hover: #a1c3d8;
  --button-primary-text-color: #191919;
  --button-primary-text-color-hover: #141414;
  --button-secondary-background-fill: #242424;
  --button-secondary-background-fill-hover: #202020;
  --button-secondary-border-color: #242424;
  --button-secondary-border-color-hover: #202020;
  --button-secondary-text-color: #4eacef;
  --button-secondary-text-color-hover: #0c6ebd;
  --chatbot-code-background-color: #000000;
  --checkbox-background-color: #242424;
  --checkbox-background-color-focus: #242424;
  --checkbox-background-color-hover: #242424;
  --checkbox-background-color-selected: #4eacef;
  --checkbox-border-color: #242424;
  --checkbox-border-color-focus: #4eacef;
  --checkbox-border-color-hover: #4eacef;
  --checkbox-border-color-selected: #4eacef;
  --checkbox-border-width: 1px;
  --checkbox-label-background-fill: #191919;
  --checkbox-label-background-fill-hover: #242424;
  --checkbox-label-background-fill-selected: #242424;
  --checkbox-label-border-color: #242424;
  --checkbox-label-border-color-hover: #4eacef;
  --checkbox-label-border-width: 1px;
  --checkbox-label-text-color: #ecf2f7;
  --checkbox-label-text-color-selected: #4eacef;
  --color-accent-soft: #242424;
  --error-background-fill: #242424;
  --error-border-color: #ecf2f7;
  --error-border-width: 1px;
  --error-icon-color: #ef4444;
  --error-text-color: #4eacef;
  --input-background-fill: #242424;
  --input-background-fill-focus: #242424;
  --input-background-fill-hover: #202020;
  --input-border-color: #ecf2f7;
  --input-border-color-focus: #ecf2f7;
  --input-border-color-hover: #a1c3d8;
  --input-placeholder-color: #ecf2f730;
  --input-shadow: #ecf2f700;
  --input-shadow-focus: #ecf2f700;
  --link-text-color-active: #4eacef;
  --link-text-color: #4eacef;
  --link-text-color-hover: #0c6ebd;
  --link-text-color-visited: #4eacef;
  --loader-color: #4eacef;
  --panel-background-fill: #191919;
  --panel-border-color: #4eacef;
  --shadow-spread: #000000;
  --slider-color: #4eacef;
  --stat-background-fill: #4eacef;
  --table-border-color: #ecf2f7;
  --table-even-background-fill: #191919;
  --table-odd-background-fill: #242424;
  --table-row-focus: #ecf2f7;
  --block_border_width: None;
  --block_label_border_width: None;
  --block_title_border_width: None;
  --panel_border_width: None;
  --code-background-fill: var(--neutral-800);
  --input_border_width: None;
  --name: NoCrypt/miku;
  --block-border-width: 1px;
  --block-info-text-size: var(--text-sm);
  --block-info-text-weight: 400;
  --block-label-border-width: 1px;
  --block-label-margin: 0;
  --block-label-padding: var(--spacing-sm) var(--spacing-lg);
  --block-label-radius: calc(var(--radius-lg) - 1px) 0
    calc(var(--radius-lg) - 1px) 0;
  --block-label-right-radius: 0 calc(var(--radius-lg) - 1px) 0
    calc(var(--radius-lg) - 1px);
  --block-label-shadow: var(--block-shadow);
  --block-label-text-size: var(--text-sm);
  --block-label-text-weight: 400;
  --block-padding: var(--spacing-xl) calc(var(--spacing-xl) + 2px);
  --block-radius: var(--radius-lg);
  --block-title-border-width: 0px;
  --block-title-padding: 0;
  --block-title-radius: none;
  --block-title-text-size: var(--text-md);
  --block-title-text-weight: bold;
  --body-text-size: var(--text-md);
  --body-text-weight: 400;
  --button-large-padding: var(--spacing-lg) calc(2 * var(--spacing-lg));
  --button-large-radius: var(--radius-lg);
  --button-large-text-size: var(--text-lg);
  --button-large-text-weight: 600;
  --button-shadow: none;
  --button-shadow-active: none;
  --button-shadow-hover: none;
  --button-small-padding: var(--spacing-sm) calc(2 * var(--spacing-sm));
  --button-small-radius: var(--radius-lg);
  --button-small-text-size: var(--text-md);
  --button-small-text-weight: 400;
  --button-transition: background-color 0.2s ease;
  --checkbox-border-radius: var(--radius-sm);
  --checkbox-check: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  --checkbox-label-gap: var(--spacing-lg);
  --checkbox-label-padding: var(--spacing-md) calc(2 * var(--spacing-md));
  --checkbox-label-shadow: none;
  --checkbox-label-text-size: var(--text-md);
  --checkbox-label-text-weight: 400;
  --checkbox-shadow: var(--input-shadow);
  --color-accent: var(--primary-500);
  --container-radius: var(--radius-lg);
  --embed-radius: var(--radius-lg);
  --font: 'Asap', 'ui-sans-serif', sans-serif;
  --font-mono: 'Fira Code', 'ui-monospace', monospace;
  --form-gap-width: 0px;
  --input-border-width: 0px;
  --input-padding: var(--spacing-xl);
  --input-radius: var(--radius-lg);
  --input-text-size: var(--text-md);
  --input-text-weight: 400;
  --layout-gap: var(--spacing-xxl);
  --neutral-100: #e2effc;
  --neutral-200: #bedff9;
  --neutral-300: #84c5f5;
  --neutral-400: #4eacef;
  --neutral-50: #f1f8fe;
  --neutral-500: #198cde;
  --neutral-600: #0c6ebd;
  --neutral-700: #0b5899;
  --neutral-800: #0e4b7e;
  --neutral-900: #113f69;
  --neutral-950: #0b2846;
  --panel-border-width: 0;
  --primary-100: #e2effc;
  --primary-200: #bedff9;
  --primary-300: #84c5f5;
  --primary-400: #4eacef;
  --primary-50: #f1f8fe;
  --primary-500: #198cde;
  --primary-600: #0c6ebd;
  --primary-700: #0b5899;
  --primary-800: #0e4b7e;
  --primary-900: #113f69;
  --primary-950: #0b2846;
  --prose-header-text-weight: 600;
  --prose-text-size: var(--text-md);
  --prose-text-weight: 400;
  --radio-circle: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --radius-xxl: 22px;
  --radius-xxs: 1px;
  --secondary-100: #e2effc;
  --secondary-200: #bedff9;
  --secondary-300: #84c5f5;
  --secondary-400: #4eacef;
  --secondary-50: #f1f8fe;
  --secondary-500: #198cde;
  --secondary-600: #0c6ebd;
  --secondary-700: #0b5899;
  --secondary-800: #0e4b7e;
  --secondary-900: #113f69;
  --secondary-950: #0b2846;
  --section-header-text-size: var(--text-md);
  --section-header-text-weight: 400;
  --shadow-drop: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  --shadow-drop-lg: 0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-inset: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px inset;
  --spacing-lg: 8px;
  --spacing-md: 6px;
  --spacing-sm: 4px;
  --spacing-xl: 10px;
  --spacing-xs: 2px;
  --spacing-xxl: 16px;
  --spacing-xxs: 1px;
  --table-radius: var(--radius-lg);
  --text-lg: 16px;
  --text-md: 14px;
  --text-sm: 12px;
  --text-xl: 22px;
  --text-xs: 10px;
  --text-xxl: 26px;
  --text-xxs: 9px;
}

* {
  font-family: var(--font);
  line-height: 1.5;
}
